{"swagger": "2.0", "info": {"title": "Sigbox API", "description": "sigbox", "termsOfService": "", "contact": {"email": "zula0747@gmail.com"}, "license": {"name": "BSD License"}, "version": "v0"}, "host": "sigbox.sixhands.co", "schemes": ["https"], "basePath": "/api/v0", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Basic": {"type": "basic"}}, "security": [{"Basic": []}], "paths": {"/accounts/reset-password/": {"post": {"operationId": "accounts_reset-password_create", "description": "Reset password, given the signature and timestamp from the link.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ResetPassword"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ResetPassword"}}}, "tags": ["accounts"]}, "parameters": []}, "/alert/": {"post": {"operationId": "alert_create", "description": "Callback for alerts", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SigfoxAlert"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/SigfoxAlert"}}}, "tags": ["alert"]}, "parameters": []}, "/device/": {"get": {"operationId": "device_list", "description": "Recieve message from sigfox and handle it. Saves incoming request as `Message` instance. Also saves response (if any) as `Downlink` instanse.", "parameters": [{"name": "id", "in": "query", "required": true, "type": "string", "minLength": 1}, {"name": "data", "in": "query", "required": true, "type": "string", "minLength": 1}, {"name": "sequence_number", "in": "query", "required": true, "type": "integer"}, {"name": "time", "in": "query", "required": true, "type": "string", "format": "date-time"}], "responses": {"200": {"description": ""}}, "tags": ["device"]}, "parameters": []}, "/ecom-status/": {"get": {"operationId": "ecom-status_list", "description": "", "parameters": [{"name": "client_system_id", "in": "query", "required": false, "type": "integer"}, {"name": "device_uid", "in": "query", "required": false, "type": "string"}, {"name": "Language", "in": "query", "required": false, "type": "string", "minLength": 1}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Locker"}}}}, "tags": ["ecom-status"]}, "parameters": []}, "/order/": {"post": {"operationId": "order_create", "description": "Creates new order", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Order"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Order"}}}, "tags": ["order"]}, "patch": {"operationId": "order_partial_update", "description": "Viewset for `Order`", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/OrderUpdate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OrderUpdate"}}}, "tags": ["order"]}, "delete": {"operationId": "order_delete", "description": "Cancelation of order", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/OrderCancel"}}], "responses": {"204": {"description": ""}}, "tags": ["order"]}, "parameters": []}}, "definitions": {"ResetPassword": {"required": ["user_id", "timestamp", "signature", "password"], "type": "object", "properties": {"user_id": {"title": "User id", "type": "string", "minLength": 1}, "timestamp": {"title": "Timestamp", "type": "integer"}, "signature": {"title": "Signature", "type": "string", "minLength": 1}, "password": {"title": "Password", "type": "string", "minLength": 1}}}, "SigfoxAlert": {"required": ["locker", "text", "time", "reason"], "type": "object", "properties": {"locker": {"title": "Locker", "type": "string"}, "text": {"title": "Text", "type": "string", "minLength": 1}, "time": {"title": "Time", "type": "string", "format": "date-time"}, "message": {"title": "Message", "type": "object", "readOnly": true}, "dispatch_channel": {"title": "Dispatch channel", "type": "string", "readOnly": true}, "created_on": {"title": "Created on", "type": "string", "format": "date-time", "readOnly": true}, "reason": {"title": "Reason", "type": "integer"}}}, "Locker": {"required": ["device_uid", "desc_device", "is_online", "created_at"], "type": "object", "properties": {"device_uid": {"title": "Device uid", "type": "integer"}, "name": {"title": "Name", "type": "string", "maxLength": 50, "minLength": 1, "x-nullable": true}, "location": {"title": "Location", "type": "string", "readOnly": true}, "desc_device": {"title": "Desc device", "type": "string", "minLength": 1}, "is_online": {"title": "Is online", "type": "boolean"}, "created_at": {"title": "Created at", "type": "string", "format": "date-time"}, "modified_at": {"title": "Modified at", "type": "string", "format": "date-time", "readOnly": true}}}, "CellSize": {"required": ["width", "height", "length"], "type": "object", "properties": {"width": {"title": "Width", "type": "integer", "maximum": 32767, "minimum": 1}, "height": {"title": "Height", "type": "integer", "maximum": 32767, "minimum": 1}, "length": {"title": "Length", "type": "integer", "maximum": 32767, "minimum": 1}}}, "Order": {"required": ["device_uid", "client_system_id", "cell_size"], "type": "object", "properties": {"device_uid": {"title": "Device uid", "type": "string"}, "client_system_id": {"title": "Client system id", "type": "integer"}, "barcode": {"title": "Barcode", "type": "string", "maxLength": 50, "minLength": 1, "x-nullable": true}, "guid": {"title": "Guid", "type": "string", "format": "uuid"}, "cell_size": {"$ref": "#/definitions/CellSize"}, "owner_cell": {"title": "Agent&cell", "type": "integer", "readOnly": true}, "weight": {"title": "Weight", "type": "integer", "maximum": 2147483647, "minimum": 0}, "phone": {"title": "Phone", "type": "string", "minLength": 1}, "email": {"title": "Email", "type": "string", "format": "email", "minLength": 1}, "reserved_from": {"title": "Reserved from", "type": "string", "format": "date-time"}, "reserved_until": {"title": "Reserved until", "type": "string", "format": "date-time"}}}, "OrderUpdate": {"required": ["device_uid", "client_system_id", "cell_size"], "type": "object", "properties": {"device_uid": {"title": "Device uid", "type": "string"}, "barcode": {"title": "Barcode", "type": "string", "maxLength": 50, "minLength": 1, "x-nullable": true}, "client_system_id": {"title": "Client system id", "type": "integer"}, "cell_size": {"$ref": "#/definitions/CellSize"}, "owner_cell": {"title": "Agent&cell", "type": "integer", "readOnly": true}, "weight": {"title": "Weight", "type": "integer", "maximum": 2147483647, "minimum": 0}, "reserved_until": {"title": "Reserved until", "type": "string", "format": "date-time"}, "reason": {"title": "Reason", "type": "integer"}, "phone": {"title": "Phone", "type": "string", "minLength": 1}, "email": {"title": "Email", "type": "string", "format": "email", "minLength": 1}}}, "OrderCancel": {"required": ["client_system_id", "code"], "type": "object", "properties": {"client_system_id": {"title": "Client system id", "type": "integer"}, "code": {"title": "Code", "type": "string", "minLength": 1}}}}}
